<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template ::  head">
<body>
<header th:replace="plantilla/template :: header"></header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

<!--<div class="container d-flex justify-content-center">

    <div class="card">
        <div class="card-header">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/logeo}"></a>
                    <i class="fa-sharp fa-solid fa-user">Login</i>
                </li>
                <li class="nav-link " th:href="@{/usuario/registro}">
                    <i class="fa-sharp fa-solid fa-user-plus">Registro</i>
                </li>

            </ul>

        </div>
        <div class="card-body">

            <form th:action="@{/usuario/registrar}" method="post">


                <div class="form-group">
                    <label for="nombreusuario">Usuario</label>
                    <input type="nombreusuario" class="form-control" id="nombreusuario" name="nombreusuario"
                           required="required"
                           autocomplete="off">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required="required"
                           autocomplete="off">
                </div>

                <button type="submit" class="btn btn-primary"><i class="fa-sharp fa-solid fa-user-plus"></i></i>Iniciar Sesion
                </button>
            </form>

        </div>
    </div>

</div>-->

<!-- Pills navs -->

<div class="container d-flex justify-content-center">

    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Verificado</label>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
<!-- Pills content -->


</body>


</head>
</html>